<div class="App">
    <form action="ge" method="Post">
        <textarea name="promptt" id="" cols="30" rows="10">

        </textarea>
        <button>
            Show
        </button>
    </form>
    <div id="show">
        <%= response.data.choices[0].text %>
    </div>
    <div id="shoe">
    </div>
</div>